node-red.json
[{"id":"32bf5e7f.d7aefa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1895cbf.a8a138","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"767fcb53.693024","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"c0443869.aebbd8","type":"ui_group","z":"","name":"Sign Up","tab":"767fcb53.693024","order":1,"disp":true,"width":"6","collapse":false},{"id":"f78e1d57.1ba58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#354d38","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"91cf4a63.1abef8","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"5f63394d.a5494","type":"ui_group","z":"","name":"Login","tab":"91cf4a63.1abef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cee7eca2.15e3a","type":"ui_tab","z":"","name":"Customer Care","icon":"dashboard","disabled":false,"hidden":false},{"id":"8c2747ed.a6675","type":"ui_group","z":"","name":"BOT","tab":"cee7eca2.15e3a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2712f27b.4b5296","type":"ui_form","z":"32bf5e7f.d7aefa","name":"Sign Up","label":"","group":"c0443869.aebbd8","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":110,"y":100,"wires":[["a82686ef.ace2e8","a7f55642.cca448"]]},{"id":"a82686ef.ace2e8","type":"debug","z":"32bf5e7f.d7aefa","name":"Check Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":160,"wires":[]},{"id":"a7f55642.cca448","type":"function","z":"32bf5e7f.d7aefa","name":"Accept Data","func":"msg.payload = {\n    _id: msg.payload.email,\n    Name: msg.payload.name,\n    Email: msg.payload.email,\n    Password: msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":100,"wires":[["7751bafb.8bf78c"]]},{"id":"7751bafb.8bf78c","type":"cloudant out","z":"32bf5e7f.d7aefa","name":"Register","cloudant":"","database":"sample","service":"node-red-bdlmb-2020--cloudant-1597403245222-94617","payonly":true,"operation":"insert","x":500,"y":100,"wires":[]},{"id":"8a2a8f7e.074ee","type":"ui_form","z":"32bf5e7f.d7aefa","name":"Login Form","label":"","group":"5f63394d.a5494","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"LOGIN","cancel":"CANCEL","topic":"","x":120,"y":280,"wires":[["5d0a1755.caa4"]]},{"id":"5d0a1755.caa4","type":"function","z":"32bf5e7f.d7aefa","name":"Get Input","func":"global.set('email',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":340,"wires":[["5806d309.74e874"]]},{"id":"5806d309.74e874","type":"function","z":"32bf5e7f.d7aefa","name":"Prepare Query","func":"var email=global.get('email');\n\nmsg.payload=\"email:\"+email;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["3fb13309.097dd4"]]},{"id":"3fb13309.097dd4","type":"cloudant in","z":"32bf5e7f.d7aefa","name":"Process Query","cloudant":"","database":"sample","service":"node-red-bdlmb-2020--cloudant-1597403245222-94617","search":"_idx_","design":"user","index":"user","x":500,"y":340,"wires":[["b9603c5d.9e3128"]]},{"id":"b9603c5d.9e3128","type":"function","z":"32bf5e7f.d7aefa","name":"Verify","func":"if(msg.payload[0].Password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":280,"wires":[["a7546707.34738","b44181e9.195ea8"]]},{"id":"a7546707.34738","type":"debug","z":"32bf5e7f.d7aefa","name":"Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":340,"wires":[]},{"id":"b44181e9.195ea8","type":"ui_text","z":"32bf5e7f.d7aefa","group":"5f63394d.a5494","order":1,"width":0,"height":0,"name":"","label":"Login Alert","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":240,"wires":[]},{"id":"ce54adc2.6472c8","type":"ui_form","z":"32bf5e7f.d7aefa","name":"","label":"Customer Care","group":"8c2747ed.a6675","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":440,"wires":[["bf3eca38.22ccd"]]},{"id":"bf3eca38.22ccd","type":"function","z":"32bf5e7f.d7aefa","name":"Capture Input","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":500,"wires":[["5e1899b2.d0a9d8"]]},{"id":"5e1899b2.d0a9d8","type":"watson-conversation-v1","z":"32bf5e7f.d7aefa","name":"Process","workspaceid":"78f9a27e-3158-45db-9e6d-1cd8ffe998de","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7deceaa3-a5bb-43f9-95b5-95058216cbca","timeout":"","optout-learning":false,"x":380,"y":440,"wires":[["6e3ab9b.ef37cc8","37e2ad63.8a4042"]]},{"id":"6e3ab9b.ef37cc8","type":"debug","z":"32bf5e7f.d7aefa","name":"Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":500,"wires":[]},{"id":"37e2ad63.8a4042","type":"function","z":"32bf5e7f.d7aefa","name":"Extact Answer","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":420,"wires":[["97b7a4db.62279","975e9d13.6204b8"]]},{"id":"97b7a4db.62279","type":"ui_text","z":"32bf5e7f.d7aefa","group":"8c2747ed.a6675","order":1,"width":"6","height":"6","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":480,"wires":[]},{"id":"975e9d13.6204b8","type":"ui_audio","z":"32bf5e7f.d7aefa","name":"Audio Response","group":"8c2747ed.a6675","voice":"","always":"","x":830,"y":420,"wires":[]}]